            .title * {
                color: var(--color-text-dark);
                text-align: center;
                /* text-shadow: 0 0 3px rgb(206, 206, 255); */
            }

            .title a {
                display: block;
                background-color: var(--button-color-dark);
                width: 300px;
                padding: 10px;
                margin: 20px;
                border-radius: 15px;
                border: 2px solid;
                transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
            }

            .title a:hover {
                color: var(--primary-color-dark)
            }

            .title {
                display: flex;
                flex-direction: column;
                place-items: center;
            }

            .info {
                height: 100vh;
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .bg {
                height: 100vh;
                width: 100vw;
                background: #00010c;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -100;
            }

            #canvas {
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
            }