*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background: var(--background-image);
  margin: 0;
  transition:
    color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1),
    background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  line-height: 1.6;
  font-family:
    'Geist Variable',
    -apple-system,
    BlinkMacSystemFont,
    'PingFang SC',
    'Microsoft YaHei',
    'Heiti SC',
    'WenQuanYi Micro Hei',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}