@import './base.css';

:root {
  --primary-color: #32AAC9;
}

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#app main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

body {
  /* background: #fff; */
  background: url("https://image.179.life/images/background-dark.jpg");
  background-size: cover;
  backdrop-filter: blur(85px);
}