@import './base.css';

:root {
  --primary-color: #4f59d8;
}

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  background: #fff;
  background: url("https://image.179.life/images/background-light.jpg");
  background-size: cover;
  backdrop-filter: blur(75px);
  margin: 0;
}

@font-face {
  font-family: 'Maiyuan';
  src: url('fonts/maiyuan.otf');
  font-weight: normal;
  font-style: normal;
}